# Web Framework & API
Django==6.1.1
django-ninja==1.7.0
djangorestframework-simplejwt==5.5.1
django-environ==0.14.0

# Temps réel & Asynchrone (WebSockets)
channels==4.2.0
channels-redis==4.2.1
daphne==4.1.2

# Base de données & Cache
psycopg2-binary==2.9.13
redis==8.1.0

# GraphQL
strawberry-graphql==0.327.7
strawberry-graphql-django==0.89.2

# Validation & Modèles DTO
pydantic==2.13.5
email-validator==2.3.0

# Tests
pytest==8.4.2
pytest-asyncio==0.24.0
pytest-django==4.14.0